@model Maozinha.UI.Web.ViewModel.BuscaProjetosViewModel

@using Maozinha.UI.Web.ViewModel;

@{
    ViewBag.Title = "Inicio - Voluntário";
}

<div class="container-fluid">
    <div class="col-md-2">
        <div class="filtro">
            <div class="categoria">
                <h4><b>Categorias</b></h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Crianças
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Saúde
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Animais
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Moradia
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Outros
                    </label>
                </div>
            </div>
            <div class="dia">
                <h4><b>Dia</b></h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Segunda-feira
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Terça-feira
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Quarta-feira
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Quinta-feira
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Sexta-feira
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Sábado
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Domingo
                    </label>
                </div>
            </div>
            <div class="periodo">
                <h4><b>Período</b></h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Manhã
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Tarde
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Noite
                    </label>
                </div>
            </div>
            <div class="local">
                <h4><b>Local</b></h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Zona Leste
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Zona Oeste
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Zona Norte
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Zona Sul
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Outras cidades
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 resultado">

        <div class="box-body">
            <br>
            <table id="projetos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Qtd Vagas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Projetos)
                    {
                        <tr>
                            <td>
                                @if (item.Arquivo != null)
                                {
                                    <img style="width: 100px; height: 100px;" src="@ArquivoViewModel.CaminhoUpload.Remove(0, 1)/@item.Arquivo.Id.ToString()@item.Arquivo.Tipo" />

                                }
                                else
                                {
                                    <img style="width: 100px; height: 100px;" src="" />
                                }
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Nome</td>
                            <td>@item.DataInicio</td>
                            <td>@item.DataFim</td>
                            <td>@item.QtdVagas</td>
                            <td>
                                @Html.ActionLink("Ver Detalhes", "DetalhesProjeto", "BuscaProjetoVoluntario", new { @projetoId = item.Id }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Qtd Vagas</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

@section scripts
{
    <link href="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#projetos').DataTable({
                language: {
                    "url": 'http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json'
                }
            });
        });
    </script>
}


